In [3]:
# !pip install umap
# !pip install hdbscan
# !pip install plotly

Collecting umap
  Downloading umap-0.1.1.tar.gz (3.2 kB)
Building wheels for collected packages: umap
  Building wheel for umap (setup.py): started
  Building wheel for umap (setup.py): finished with status 'done'
  Created wheel for umap: filename=umap-0.1.1-py3-none-any.whl size=3570 sha256=ee4683809e74165aef64ceeff6dedd20d591c7be7fd3fa5f29fec5612be5e951
  Stored in directory: c:\users\mind_ds\appdata\local\pip\cache\wheels\d4\13\91\2e752dc8dab5df027854bd33d2b65e1dc5cdc107fd1133990f
Successfully built umap
Installing collected packages: umap
Successfully installed umap-0.1.1
Collecting hdbscan
  Downloading hdbscan-0.8.27.tar.gz (6.4 MB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
    Preparing wheel metadata: started
    Preparing wheel metadata: finished with status 'done'
Requirement already satisfied: six in c:\users\mind_ds\anaconda3\lib\site-packages (from hdbscan) (1.15.0)
Requirement already satisfied: cython>=0.27 in c:\users\mind_ds\anaconda3\lib\site-packages (from hdbscan) (0.29.21)
Requirement already satisfied: scipy>=1.0 in c:\users\mind_ds\anaconda3\lib\site-packages (from hdbscan) (1.5.2)
Requirement already satisfied: numpy>=1.16 in c:\users\mind_ds\anaconda3\lib\site-packages (from hdbscan) (1.19.2)
Requirement already satisfied: scikit-learn>=0.20 in c:\users\mind_ds\anaconda3\lib\site-packages (from hdbscan) (0.23.2)
Collecting joblib>=1.0
  Downloading joblib-1.0.1-py3-none-any.whl (303 kB)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\mind_ds\anaconda3\lib\site-packages (from scikit-learn>=0.20->hdbscan) (2.1.0)
Building wheels for collected packages: hdbscan
  Building wheel for hdbscan (PEP 517): started
  Building wheel for hdbscan (PEP 517): finished with status 'error'
Failed to build hdbscan

  ERROR: Command errored out with exit status 1:
   command: 'C:\Users\MIND_DS\anaconda3\python.exe' 'C:\Users\MIND_DS\anaconda3\lib\site-packages\pip\_vendor\pep517\_in_process.py' build_wheel 'C:\Users\MIND_DS\AppData\Local\Temp\tmpyoy45cv1'
       cwd: C:\Users\MIND_DS\AppData\Local\Temp\pip-install-gxifejup\hdbscan
  Complete output (27 lines):
  running bdist_wheel
  running build
  running build_py
  creating build
  creating build\lib.win-amd64-3.8
  creating build\lib.win-amd64-3.8\hdbscan
  copying hdbscan\flat.py -> build\lib.win-amd64-3.8\hdbscan
  copying hdbscan\hdbscan_.py -> build\lib.win-amd64-3.8\hdbscan
  copying hdbscan\plots.py -> build\lib.win-amd64-3.8\hdbscan
  copying hdbscan\prediction.py -> build\lib.win-amd64-3.8\hdbscan
  copying hdbscan\robust_single_linkage_.py -> build\lib.win-amd64-3.8\hdbscan
  copying hdbscan\validity.py -> build\lib.win-amd64-3.8\hdbscan
  copying hdbscan\__init__.py -> build\lib.win-amd64-3.8\hdbscan
  creating build\lib.win-amd64-3.8\hdbscan\tests
  copying hdbscan\tests\test_flat.py -> build\lib.win-amd64-3.8\hdbscan\tests
  copying hdbscan\tests\test_hdbscan.py -> build\lib.win-amd64-3.8\hdbscan\tests
  copying hdbscan\tests\test_rsl.py -> build\lib.win-amd64-3.8\hdbscan\tests
  copying hdbscan\tests\__init__.py -> build\lib.win-amd64-3.8\hdbscan\tests
  running build_ext
  skipping 'hdbscan\_hdbscan_tree.c' Cython extension (up-to-date)
  skipping 'hdbscan\_hdbscan_linkage.c' Cython extension (up-to-date)
  skipping 'hdbscan\_hdbscan_boruvka.c' Cython extension (up-to-date)
  skipping 'hdbscan\_hdbscan_reachability.c' Cython extension (up-to-date)
  skipping 'hdbscan\_prediction_utils.c' Cython extension (up-to-date)
  skipping 'hdbscan\dist_metrics.c' Cython extension (up-to-date)
  building 'hdbscan._hdbscan_tree' extension
  error: Microsoft Visual C++ 14.0 or greater is required. Get it with "Microsoft C++ Build Tools": https://visualstudio.microsoft.com/visual-cpp-build-tools/
  ----------------------------------------
  ERROR: Failed building wheel for hdbscan
ERROR: Could not build wheels for hdbscan which use PEP 517 and cannot be installed directly

Collecting plotly
  Downloading plotly-5.1.0-py2.py3-none-any.whl (20.6 MB)
Collecting tenacity>=6.2.0
  Downloading tenacity-8.0.1-py3-none-any.whl (24 kB)
Requirement already satisfied: six in c:\users\mind_ds\anaconda3\lib\site-packages (from plotly) (1.15.0)
Installing collected packages: tenacity, plotly
Successfully installed plotly-5.1.0 tenacity-8.0.1

In [4]:
## Clustering
from sklearn.decomposition import TruncatedSVD
from sklearn.decomposition import PCA
from sklearn.manifold import TSNE
from sklearn.pipeline import make_pipeline
from sklearn import cluster
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
from nltk.cluster import KMeansClusterer
import nltk
import umap
# import hdbscan
import sklearn.cluster as cluster
from sklearn.metrics import adjusted_rand_score, adjusted_mutual_info_score
# for Plotting
import plotly.io as plt_io
import plotly.graph_objects as go

## Data Science
import pandas as pd
import os
import sys
#%load_ext autotime
import re
import csv
import pandas as pd
import numpy as np
import os
from glob import glob
from tqdm import tqdm
import matplotlib.pyplot as plt
#from matplotlib_venn import venn2, venn3
import warnings
import time
import datetime as dt
import itertools
#import pandasql as ps
import seaborn as sns
import json
from ast import literal_eval
import ast

In [26]:
df = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\FINAL\MASTER_7_14.csv")

C:\Users\MIND_DS\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [27]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'Unnamed: 0.1.1.1',
       'Unnamed: 0.1.1.1.1', 'EMPI', 'MRN', 'PatientID', 'PatientEncounterID',
       'ContactDTS', 'EncounterTypeDSC', 'NoteID', 'InpatientNoteTypeDSC',
       'buckets', 'NoteCSNID', 'LineNBR', 'NoteTXT', 'regex_location',
       'regex_sent', 'regex_match', 'match_count', 'pruned_regex_location',
       'merged_row_location', 'merged_regex_sent', 'merged_regex_match',
       'padded_merged_row_location', 'padded_merged_regex_sent',
       'padded_char_count', 'note_char_count', 'PCPID',
       'EncounterEpicProviderID', 'pcp_flag', 'SpecialtyDSC',
       'padded_regex_match'],
      dtype='object')

In [28]:
len(df)

279224

In [29]:
len(df["PatientEncounterID"].unique())

178994

In [30]:
empi = pd.read_csv(r"C:\Users\MIND_DS\Dropbox (Partners HealthCare)\NLP\Tanish\BigDataSets\Regex_match\FINAL\empi_dataset.csv")

In [31]:
empi.columns

Index(['Unnamed: 0', 'EMPI', 'Age', 'Subject_Id', 'Gender', 'Race',
       'Ethnicity', 'Vital_Status', 'array_mega', 'array_meg', 'array_gsa',
       'array_mega_ex', 'Affection.Status', 'fa_had_AD', 'mo_had_AD',
       'sib_had_AD', 'rs7412_T', 'rs429358_C', 'APOE', 'DOB', 'APOE_dosage',
       'AD status'],
      dtype='object')

In [32]:
empi = empi.dropna(thresh=5) #thresh = 5 b/c 37 nulls have all null values
len(empi)

16428

In [33]:
empi

,Unnamed: 0,EMPI,Age,Subject_Id,Gender,Race,Ethnicity,Vital_Status,array_mega,array_meg,...,Affection.Status,fa_had_AD,mo_had_AD,sib_had_AD,rs7412_T,rs429358_C,APOE,DOB,APOE_dosage,AD status
0,0,100000272,87,10042180,M,Black,Non-Hispanic,Living,No,Yes,...,0.0,No,No,No,0.0,0.0,e3/e3,NaN,NaN,NaN
1,1,100001150,95,10037423,F,Black,Non-Hispanic,Deceased,No,Yes,...,0.0,No,No,No,0.0,0.0,e3/e3,NaN,NaN,NaN
2,2,100001768,73,10053858,M,Black,Non-Hispanic,Living,No,Yes,...,0.0,No,No,No,0.0,1.0,e3/e4,NaN,NaN,NaN
3,3,100002288,98,10004537,M,White,Non-Hispanic,Deceased,No,No,...,0.0,No,No,No,0.0,0.0,e3/e3,NaN,NaN,NaN
4,4,100002702,74,10119609,M,Black,Non-Hispanic,Living,No,No,...,0.0,No,No,No,0.0,0.0,e3/e3,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16460,16460,113714475,63,10121570,M,White,Non-Hispanic,Living,No,No,...,0.0,No,No,No,0.0,1.0,e3/e4,NaN,NaN,NaN
16461,16461,113716850,77,10024427,M,White,Non-Hispanic,Living,No,Yes,...,0.0,No,No,No,0.0,1.0,e3/e4,NaN,NaN,NaN
16462,16462,113722466,70,10062443,F,White,Hispanic,Living,No,Yes,...,0.0,No,No,No,0.0,0.0,e3/e3,NaN,NaN,NaN
16463,16463,113722742,64,10111290,F,White,Non-Hispanic,Living,No,No,...,0.0,No,No,No,0.0,0.0,e3/e3,NaN,NaN,NaN
16464,16464,113727131,68,10100003,M,White,Non-Hispanic,Living,No,Yes,...,0.0,No,No,No,0.0,0.0,e3/e3,NaN,NaN,NaN

In [34]:
df

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,EMPI,MRN,PatientID,PatientEncounterID,ContactDTS,...,merged_regex_match,padded_merged_row_location,padded_merged_regex_sent,padded_char_count,note_char_count,PCPID,EncounterEpicProviderID,pcp_flag,SpecialtyDSC,padded_regex_match
0,0,0,0,0,0.0,100000272,10040002098,Z6352398,3.076070e+09,2015-06-17 00:00:00.0000000,...,[' cerebral'],"(5457, 6251)",ked at HMS in the department of psychobiology ...,794,19217.0,NaN,1521494.0,0,NaN,['cerebral']
1,1,1,1,1,1.0,100000272,10040002098,Z6352398,3.076214e+09,2015-07-16 00:00:00.0000000,...,[' memory'],"(3248, 4044)",or lymphadenopathy. Chest: Clear to auscultati...,796,5850.0,NaN,1012865.0,0,NaN,['memory']
2,2,2,2,2,14.0,100000272,10040002098,Z6352398,3.242118e+09,2019-03-14 00:00:00.0000000,...,[' dementia'],"(8345, 9145)",ession alone in the meta-analysis. We discusse...,800,13298.0,1002888.0,1668416.0,0,NaN,['dementia']
3,3,3,3,3,15.0,100000272,10040002098,Z6352398,3.322836e+09,2020-12-04 00:00:00.0000000,...,"[' moca', ' cognition', ' memory']","[(930, 1152), (4778, 4987), (5004, 5349)]",------- ing tylenol really accept for this we...,803,8711.0,1002888.0,1746848.0,0,NaN,"['cognition', 'memory', 'moca']"
4,4,4,4,4,20.0,100000272,10040002098,Z6352398,3.325561e+09,2020-09-18 00:00:00.0000000,...,"[' cognition', ' memory']","[(5188, 5576), (5593, 5991)]",------- in is related to cancer. Reassuringly...,804,9145.0,1002888.0,1746848.0,0,NaN,"['cognition', 'memory']"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279219,279219,60817,60817,277874,NaN,113705759,10127549029,Z16320629,3.285425e+09,2020-04-28 00:00:00.0000000,...,"[' memory', ' cognition', ' cerebral', ' cereb...","[(538, 547), (1626, 1635), (1844, 1853), (108,...","------- se ""she took a break"" and wants to dis...",1949,11314.0,1007065.0,1558180.0,0,NaN,"['cognition', 'memory', 'cerebellar', 'cerebral']"
279220,279220,60818,60818,277883,NaN,113705759,10127549029,Z16320629,3.305416e+09,2020-09-22 00:00:00.0000000,...,"[' memory', ' cognition', ' cerebral', ' cereb...","[(323, 332), (1411, 1420), (1629, 1638), (108,...","------- all of her medications, including asp...",1734,10113.0,1007065.0,1558180.0,0,NaN,"['cognition', 'memory', 'cerebellar', 'cerebral']"
279221,279221,60819,60819,277896,NaN,113705759,10127549029,Z16320629,3.327430e+09,2021-01-25 00:00:00.0000000,...,"[' cognition', ' cerebral', ' memory', ' cereb...","[(2816, 2824), (108, 117), (326, 335), (974, 9...","------- ? Patient, Chart, daughter Olga Mode o...",3009,12320.0,1007065.0,1558180.0,0,NaN,"['dementia', 'cognition', 'memory', 'mci', 'ce..."
279222,279222,60820,60820,277912,NaN,113705759,10127549029,Z16320629,3.349755e+09,2021-04-20 00:00:00.0000000,...,"[' cognition', ' cerebral', ' cognitive impair...","[(2103, 2111), (108, 117), (326, 335), (544, 5...","------- ? Patient, Chart, daughter Olga Mode o...",2835,11250.0,1007065.0,1558180.0,0,NaN,"['dementia', 'cognition', 'moca', 'cognitive i..."
279223,279223,60834,60834,277961,NaN,113708529,10127577079,Z16323433,3.196619e+09,2018-04-16 00:00:00.0000000,...,[' cognition'],"[(532, 541)]","------- h muscle invasive bladder cancer, curr...",1112,7027.0,1122712.0,1111086.0,0,NaN,['cognition']

In [35]:
df = pd.merge(df, empi, left_on = 'EMPI', right_on = 'EMPI', how = 'left')

In [36]:
len(df["PatientEncounterID"].unique())

178994

In [37]:
df.columns

Index(['Unnamed: 0_x', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'Unnamed: 0.1.1.1',
       'Unnamed: 0.1.1.1.1', 'EMPI', 'MRN', 'PatientID', 'PatientEncounterID',
       'ContactDTS', 'EncounterTypeDSC', 'NoteID', 'InpatientNoteTypeDSC',
       'buckets', 'NoteCSNID', 'LineNBR', 'NoteTXT', 'regex_location',
       'regex_sent', 'regex_match', 'match_count', 'pruned_regex_location',
       'merged_row_location', 'merged_regex_sent', 'merged_regex_match',
       'padded_merged_row_location', 'padded_merged_regex_sent',
       'padded_char_count', 'note_char_count', 'PCPID',
       'EncounterEpicProviderID', 'pcp_flag', 'SpecialtyDSC',
       'padded_regex_match', 'Unnamed: 0_y', 'Age', 'Subject_Id', 'Gender',
       'Race', 'Ethnicity', 'Vital_Status', 'array_mega', 'array_meg',
       'array_gsa', 'array_mega_ex', 'Affection.Status', 'fa_had_AD',
       'mo_had_AD', 'sib_had_AD', 'rs7412_T', 'rs429358_C', 'APOE', 'DOB',
       'APOE_dosage', 'AD status'],
      dtype='object')

In [38]:
df

,Unnamed: 0_x,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,EMPI,MRN,PatientID,PatientEncounterID,ContactDTS,...,Affection.Status,fa_had_AD,mo_had_AD,sib_had_AD,rs7412_T,rs429358_C,APOE,DOB,APOE_dosage,AD status
0,0,0,0,0,0.0,100000272,10040002098,Z6352398,3.076070e+09,2015-06-17 00:00:00.0000000,...,0.0,No,No,No,0.0,0.0,e3/e3,NaN,NaN,NaN
1,1,1,1,1,1.0,100000272,10040002098,Z6352398,3.076214e+09,2015-07-16 00:00:00.0000000,...,0.0,No,No,No,0.0,0.0,e3/e3,NaN,NaN,NaN
2,2,2,2,2,14.0,100000272,10040002098,Z6352398,3.242118e+09,2019-03-14 00:00:00.0000000,...,0.0,No,No,No,0.0,0.0,e3/e3,NaN,NaN,NaN
3,3,3,3,3,15.0,100000272,10040002098,Z6352398,3.322836e+09,2020-12-04 00:00:00.0000000,...,0.0,No,No,No,0.0,0.0,e3/e3,NaN,NaN,NaN
4,4,4,4,4,20.0,100000272,10040002098,Z6352398,3.325561e+09,2020-09-18 00:00:00.0000000,...,0.0,No,No,No,0.0,0.0,e3/e3,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279219,279219,60817,60817,277874,NaN,113705759,10127549029,Z16320629,3.285425e+09,2020-04-28 00:00:00.0000000,...,0.0,No,No,No,0.0,0.0,e3/e3,NaN,NaN,NaN
279220,279220,60818,60818,277883,NaN,113705759,10127549029,Z16320629,3.305416e+09,2020-09-22 00:00:00.0000000,...,0.0,No,No,No,0.0,0.0,e3/e3,NaN,NaN,NaN
279221,279221,60819,60819,277896,NaN,113705759,10127549029,Z16320629,3.327430e+09,2021-01-25 00:00:00.0000000,...,0.0,No,No,No,0.0,0.0,e3/e3,NaN,NaN,NaN
279222,279222,60820,60820,277912,NaN,113705759,10127549029,Z16320629,3.349755e+09,2021-04-20 00:00:00.0000000,...,0.0,No,No,No,0.0,0.0,e3/e3,NaN,NaN,NaN
279223,279223,60834,60834,277961,NaN,113708529,10127577079,Z16323433,3.196619e+09,2018-04-16 00:00:00.0000000,...,0.0,No,No,No,0.0,0.0,e3/e3,NaN,NaN,NaN

In [46]:
pattern_mem = re.compile(r'\bmemory\b', re.IGNORECASE)
c_matches = []
for note in tqdm(df["padded_merged_regex_sent"]):
    try:
        m = list(set(re.findall(pattern_mem, note)))
        m = list(set(m))
        c_matches.append(str(m))
    except:
        c_matches.append([])
df["contains_memory"] = c_matches

100%|███████████████████████████████████████████████████████████████████████| 279224/279224 [00:10<00:00, 26930.99it/s]

In [48]:
memory = df[df["contains_memory"] != "[]"]

In [49]:
len(memory)

109218

In [50]:
memory = memory[:10000]

In [51]:
memory.columns

Index(['Unnamed: 0_x', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'Unnamed: 0.1.1.1',
       'Unnamed: 0.1.1.1.1', 'EMPI', 'MRN', 'PatientID', 'PatientEncounterID',
       'ContactDTS', 'EncounterTypeDSC', 'NoteID', 'InpatientNoteTypeDSC',
       'buckets', 'NoteCSNID', 'LineNBR', 'NoteTXT', 'regex_location',
       'regex_sent', 'regex_match', 'match_count', 'pruned_regex_location',
       'merged_row_location', 'merged_regex_sent', 'merged_regex_match',
       'padded_merged_row_location', 'padded_merged_regex_sent',
       'padded_char_count', 'note_char_count', 'PCPID',
       'EncounterEpicProviderID', 'pcp_flag', 'SpecialtyDSC',
       'padded_regex_match', 'Unnamed: 0_y', 'Age', 'Subject_Id', 'Gender',
       'Race', 'Ethnicity', 'Vital_Status', 'array_mega', 'array_meg',
       'array_gsa', 'array_mega_ex', 'Affection.Status', 'fa_had_AD',
       'mo_had_AD', 'sib_had_AD', 'rs7412_T', 'rs429358_C', 'APOE', 'DOB',
       'APOE_dosage', 'AD status', 'contains_memory'],
      dtype='object')

In [ ]:
memory = [[]]